
# Node dependencies
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# System files
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Nuxt dev/build outputs
.output
.nuxt
